In [5]:
import pandas as pd
import requests

from bs4 import BeautifulSoup

In [6]:
wikiurl = "https://en.wikipedia.org/wiki/List_of_states_and_union_territories_of_India_by_population"
table_class="wikitable s
ortable jquery-tablesorter"
response=requests.get(wikiurl)
print(response.status_code)

SyntaxError: EOL while scanning string literal (<ipython-input-6-cd5ef199112f>, line 2)

In [104]:
soup = BeautifulSoup(response.text, 'html.parser')
indiatable=soup.find('table',{'class':"wikitable"})

In [105]:
df=pd.read_html(str(indiatable))
# convert list to dataframe
df=pd.DataFrame(df[0])
print(df.head())

  Rank State or union territory Population National Share (%)  \
0    1            Uttar Pradesh  199812341                NaN
1    2              Maharashtra  112374333                NaN
2    3                    Bihar  104099452                NaN
3    4              West Bengal   91276115                NaN
4    5           Madhya Pradesh   72626809                NaN

  Decadal growth(2001–2012)  Rural population Percent rural  Urban population  \
0                     20.2%         155317278           NaN          44495063
1                     20.0%          61556074           NaN          50818259
2                     25.4%          92341436           NaN          11758016
3                     13.8%          62183113           NaN          29093002
4                     16.3%          52557404           NaN          20069405

  Percent urban                     Area[16]               Density[a]  \
0           NaN   240,928 km2 (93,023 sq mi)    828/km2 (2,140/sq mi)
1           NaN  307,713 km2 (118,809 sq mi)      365/km2 (950/sq mi)
2           NaN    94,163 km2 (36,357 sq mi)  1,102/km2 (2,850/sq mi)
3           NaN    88,752 km2 (34,267 sq mi)  1,029/km2 (2,670/sq mi)
4           NaN  308,245 km2 (119,014 sq mi)      236/km2 (610/sq mi)

   Sex ratio
0        912
1        929
2        918
3        953
4        931

In [106]:
popData = df.drop(["Rank", "National Share (%)", "Decadal growth(2001–2012)", "Rural population", "Percent rural","Urban population", "Percent urban", "Area[16]", "Density[a]", "Sex ratio"], axis=1)

In [107]:
popData

                    State or union territory     Population
0                              Uttar Pradesh      199812341
1                                Maharashtra      112374333
2                                      Bihar      104099452
3                                West Bengal       91276115
4                             Madhya Pradesh       72626809
5                                 Tamil Nadu       72147030
6                                  Rajasthan       68548437
7                                  Karnataka       61095297
8                                    Gujarat       60439692
9                             Andhra Pradesh  49,577,103[b]
10                                    Odisha       41974219
11                                 Telangana       35003674
12                                    Kerala       33406061
13                                 Jharkhand       32988134
14                                     Assam       31205576
15                                    Punjab       27743338
16                              Chhattisgarh       25545198
17                                   Haryana       25351462
18                              NCT of Delhi       16787941
19                         Jammu and Kashmir       12267032
20                               Uttarakhand       10086292
21                          Himachal Pradesh        6864602
22                                   Tripura        3673917
23                                 Meghalaya        2966889
24                                Manipur[d]        2570390
25                                  Nagaland        1978502
26                                       Goa        1458545
27                         Arunachal Pradesh        1383727
28                                Puducherry        1247953
29                                   Mizoram        1097206
30                                Chandigarh        1055450
31                                    Sikkim         610577
32  Dadra and Nagar Haveli and Daman and Diu         585764
33               Andaman and Nicobar Islands         380581
34                                    Ladakh         274000
35                               Lakshadweep          64473
36                                     India     1210569573

In [23]:
popData.drop([36])

                    State or union territory     Population
0                              Uttar Pradesh      199812341
1                                Maharashtra      112374333
2                                      Bihar      104099452
3                                West Bengal       91276115
4                             Madhya Pradesh       72626809
5                                 Tamil Nadu       72147030
6                                  Rajasthan       68548437
7                                  Karnataka       61095297
8                                    Gujarat       60439692
9                             Andhra Pradesh  49,577,103[b]
10                                    Odisha       41974219
11                                 Telangana       35003674
12                                    Kerala       33406061
13                                 Jharkhand       32988134
14                                     Assam       31205576
15                                    Punjab       27743338
16                              Chhattisgarh       25545198
17                                   Haryana       25351462
18                              NCT of Delhi       16787941
19                         Jammu and Kashmir       12267032
20                               Uttarakhand       10086292
21                          Himachal Pradesh        6864602
22                                   Tripura        3673917
23                                 Meghalaya        2966889
24                                Manipur[d]        2570390
25                                  Nagaland        1978502
26                                       Goa        1458545
27                         Arunachal Pradesh        1383727
28                                Puducherry        1247953
29                                   Mizoram        1097206
30                                Chandigarh        1055450
31                                    Sikkim         610577
32  Dadra and Nagar Haveli and Daman and Diu         585764
33               Andaman and Nicobar Islands         380581
34                                    Ladakh         274000
35                               Lakshadweep          64473

In [108]:
popData = popData.sort_values('State or union territory')

In [109]:
popData

                    State or union territory     Population
33               Andaman and Nicobar Islands         380581
9                             Andhra Pradesh  49,577,103[b]
27                         Arunachal Pradesh        1383727
14                                     Assam       31205576
2                                      Bihar      104099452
30                                Chandigarh        1055450
16                              Chhattisgarh       25545198
32  Dadra and Nagar Haveli and Daman and Diu         585764
26                                       Goa        1458545
8                                    Gujarat       60439692
17                                   Haryana       25351462
21                          Himachal Pradesh        6864602
36                                     India     1210569573
19                         Jammu and Kashmir       12267032
13                                 Jharkhand       32988134
7                                  Karnataka       61095297
12                                    Kerala       33406061
34                                    Ladakh         274000
35                               Lakshadweep          64473
4                             Madhya Pradesh       72626809
1                                Maharashtra      112374333
24                                Manipur[d]        2570390
23                                 Meghalaya        2966889
29                                   Mizoram        1097206
18                              NCT of Delhi       16787941
25                                  Nagaland        1978502
10                                    Odisha       41974219
28                                Puducherry        1247953
15                                    Punjab       27743338
6                                  Rajasthan       68548437
31                                    Sikkim         610577
5                                 Tamil Nadu       72147030
11                                 Telangana       35003674
22                                   Tripura        3673917
0                              Uttar Pradesh      199812341
20                               Uttarakhand       10086292
3                                West Bengal       91276115

In [110]:
df1 = pd.read_excel('/Users/ranbarasan/Downloads/CumulativeCOVIDVaccinationCoverageReport15thApril2021-converted.xlsx')

In [111]:
df1

,S. No.,State/UT,1st Dose,2nd Dose,Total Doses,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,NaN,NaN,54819,6079,60898,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,A & N Islands,"40,04,003","5,93,574","45,97,577",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,Andhra Pradesh,"1,27,072",34211,"1,61,283",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,Arunachal Pradesh,"12,77,867","2,77,594","15,55,461",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,Assam,"47,17,948","6,38,186","53,56,134",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5.0,Bihar,"1,11,665",22898,"1,34,563",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6.0,Chandigarh,"42,24,216","4,56,370","46,80,586",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7.0,Chhattisgarh,69063,10376,79439,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8.0,Dadra & Nagar Haveli and Daman and Diu,33886,4166,38052,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9.0,Delhi,"20,32,057","4,22,908","24,54,965",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10.0,Goa,"1,73,929",39213,"2,13,142",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11.0,Gujarat,"87,30,225","12,98,617","1,00,28,842",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12.0,Haryana,"25,97,444","2,77,821","28,75,265",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,13.0,Himachal Pradesh,"10,70,591","1,21,952","11,92,543",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14.0,Jammu & Kashmir,"12,85,932","2,14,761","15,00,693",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,15.0,Jharkhand,"23,18,659","3,22,587","26,41,246",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,16.0,Karnataka,"60,61,565","6,43,466","67,05,031",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,17.0,Kerala,"48,99,857","5,97,159","54,97,016",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,18.0,Ladakh,66918,9554,76472,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,19.0,Lakshadweep,13243,2901,16144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,20.0,Madhya Pradesh,"63,50,073","7,08,665","70,58,738",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,21.0,Maharashtra,"1,03,57,897","11,54,831","1,15,12,728",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,22.0,Manipur,97793,47697,"1,45,490",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,23.0,Meghalaya,"1,20,725",42546,"1,63,271",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,24.0,Mizoram,"1,05,266",30317,"1,35,583",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,25.0,Nagaland,"1,02,972",30077,"1,33,049",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,26.0,Odisha,"41,21,043","5,64,788","46,85,831",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,27.0,Puducherry,"1,36,469",11920,"1,48,389",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,28.0,Punjab,"19,82,703","1,83,348","21,66,051",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,29.0,Rajasthan,"90,95,197","12,65,134","1,03,60,331",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,30.0,Sikkim,"1,30,118",18437,"1,48,555",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,31.0,Tamil Nadu,"38,08,634","5,15,120","43,23,754",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,32.0,Telangana,"22,83,977","3,38,539","26,22,516",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,33.0,Tripura,"7,47,072",98224,"8,45,296",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,34.0,Uttar Pradesh,"87,91,482","14,82,514","1,02,73,996",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,35.0,Uttarakhand,"12,54,098","2,12,872","14,66,970",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,36.0,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [112]:
df1 = df1.drop(['S. No.', 'Unnamed: 5', 'Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15', 'Unnamed: 16'], axis = 1)

In [113]:
df1

,State/UT,1st Dose,2nd Dose,Total Doses
0,NaN,54819,6079,60898
1,A & N Islands,"40,04,003","5,93,574","45,97,577"
2,Andhra Pradesh,"1,27,072",34211,"1,61,283"
3,Arunachal Pradesh,"12,77,867","2,77,594","15,55,461"
4,Assam,"47,17,948","6,38,186","53,56,134"
5,Bihar,"1,11,665",22898,"1,34,563"
6,Chandigarh,"42,24,216","4,56,370","46,80,586"
7,Chhattisgarh,69063,10376,79439
8,Dadra & Nagar Haveli and Daman and Diu,33886,4166,38052
9,Delhi,"20,32,057","4,22,908","24,54,965"
10,Goa,"1,73,929",39213,"2,13,142"
11,Gujarat,"87,30,225","12,98,617","1,00,28,842"
12,Haryana,"25,97,444","2,77,821","28,75,265"
13,Himachal Pradesh,"10,70,591","1,21,952","11,92,543"
14,Jammu & Kashmir,"12,85,932","2,14,761","15,00,693"
15,Jharkhand,"23,18,659","3,22,587","26,41,246"
16,Karnataka,"60,61,565","6,43,466","67,05,031"
17,Kerala,"48,99,857","5,97,159","54,97,016"
18,Ladakh,66918,9554,76472
19,Lakshadweep,13243,2901,16144
20,Madhya Pradesh,"63,50,073","7,08,665","70,58,738"
21,Maharashtra,"1,03,57,897","11,54,831","1,15,12,728"
22,Manipur,97793,47697,"1,45,490"
23,Meghalaya,"1,20,725",42546,"1,63,271"
24,Mizoram,"1,05,266",30317,"1,35,583"
25,Nagaland,"1,02,972",30077,"1,33,049"
26,Odisha,"41,21,043","5,64,788","46,85,831"
27,Puducherry,"1,36,469",11920,"1,48,389"
28,Punjab,"19,82,703","1,83,348","21,66,051"
29,Rajasthan,"90,95,197","12,65,134","1,03,60,331"
30,Sikkim,"1,30,118",18437,"1,48,555"
31,Tamil Nadu,"38,08,634","5,15,120","43,23,754"
32,Telangana,"22,83,977","3,38,539","26,22,516"
33,Tripura,"7,47,072",98224,"8,45,296"
34,Uttar Pradesh,"87,91,482","14,82,514","1,02,73,996"
35,Uttarakhand,"12,54,098","2,12,872","14,66,970"
36,West Bengal,NaN,NaN,NaN

In [114]:
popData

                    State or union territory     Population
33               Andaman and Nicobar Islands         380581
9                             Andhra Pradesh  49,577,103[b]
27                         Arunachal Pradesh        1383727
14                                     Assam       31205576
2                                      Bihar      104099452
30                                Chandigarh        1055450
16                              Chhattisgarh       25545198
32  Dadra and Nagar Haveli and Daman and Diu         585764
26                                       Goa        1458545
8                                    Gujarat       60439692
17                                   Haryana       25351462
21                          Himachal Pradesh        6864602
36                                     India     1210569573
19                         Jammu and Kashmir       12267032
13                                 Jharkhand       32988134
7                                  Karnataka       61095297
12                                    Kerala       33406061
34                                    Ladakh         274000
35                               Lakshadweep          64473
4                             Madhya Pradesh       72626809
1                                Maharashtra      112374333
24                                Manipur[d]        2570390
23                                 Meghalaya        2966889
29                                   Mizoram        1097206
18                              NCT of Delhi       16787941
25                                  Nagaland        1978502
10                                    Odisha       41974219
28                                Puducherry        1247953
15                                    Punjab       27743338
6                                  Rajasthan       68548437
31                                    Sikkim         610577
5                                 Tamil Nadu       72147030
11                                 Telangana       35003674
22                                   Tripura        3673917
0                              Uttar Pradesh      199812341
20                               Uttarakhand       10086292
3                                West Bengal       91276115

In [117]:
popData = popData.rename(columns = {"State or union territory": "State/UT"})
popData

                                    State/UT     Population
33               Andaman and Nicobar Islands         380581
9                             Andhra Pradesh  49,577,103[b]
27                         Arunachal Pradesh        1383727
14                                     Assam       31205576
2                                      Bihar      104099452
30                                Chandigarh        1055450
16                              Chhattisgarh       25545198
32  Dadra and Nagar Haveli and Daman and Diu         585764
26                                       Goa        1458545
8                                    Gujarat       60439692
17                                   Haryana       25351462
21                          Himachal Pradesh        6864602
36                                     India     1210569573
19                         Jammu and Kashmir       12267032
13                                 Jharkhand       32988134
7                                  Karnataka       61095297
12                                    Kerala       33406061
34                                    Ladakh         274000
35                               Lakshadweep          64473
4                             Madhya Pradesh       72626809
1                                Maharashtra      112374333
24                                Manipur[d]        2570390
23                                 Meghalaya        2966889
29                                   Mizoram        1097206
18                              NCT of Delhi       16787941
25                                  Nagaland        1978502
10                                    Odisha       41974219
28                                Puducherry        1247953
15                                    Punjab       27743338
6                                  Rajasthan       68548437
31                                    Sikkim         610577
5                                 Tamil Nadu       72147030
11                                 Telangana       35003674
22                                   Tripura        3673917
0                              Uttar Pradesh      199812341
20                               Uttarakhand       10086292
3                                West Bengal       91276115

In [118]:
popData = popData.replace('Andaman and Nicobar Islands', 'A & N Islands')
popData = popData.replace('', 'A & N Islands')

In [119]:
finalData = df1.merge(popData, how='inner', on='State/UT')

In [120]:
finalData

             State/UT     1st Dose   2nd Dose  Total Doses     Population
0       A & N Islands    40,04,003   5,93,574    45,97,577         380581
1      Andhra Pradesh     1,27,072      34211     1,61,283  49,577,103[b]
2   Arunachal Pradesh    12,77,867   2,77,594    15,55,461        1383727
3               Assam    47,17,948   6,38,186    53,56,134       31205576
4               Bihar     1,11,665      22898     1,34,563      104099452
5          Chandigarh    42,24,216   4,56,370    46,80,586        1055450
6        Chhattisgarh        69063      10376        79439       25545198
7                 Goa     1,73,929      39213     2,13,142        1458545
8             Gujarat    87,30,225  12,98,617  1,00,28,842       60439692
9             Haryana    25,97,444   2,77,821    28,75,265       25351462
10   Himachal Pradesh    10,70,591   1,21,952    11,92,543        6864602
11          Jharkhand    23,18,659   3,22,587    26,41,246       32988134
12          Karnataka    60,61,565   6,43,466    67,05,031       61095297
13             Kerala    48,99,857   5,97,159    54,97,016       33406061
14             Ladakh        66918       9554        76472         274000
15        Lakshadweep        13243       2901        16144          64473
16     Madhya Pradesh    63,50,073   7,08,665    70,58,738       72626809
17        Maharashtra  1,03,57,897  11,54,831  1,15,12,728      112374333
18          Meghalaya     1,20,725      42546     1,63,271        2966889
19            Mizoram     1,05,266      30317     1,35,583        1097206
20           Nagaland     1,02,972      30077     1,33,049        1978502
21             Odisha    41,21,043   5,64,788    46,85,831       41974219
22         Puducherry     1,36,469      11920     1,48,389        1247953
23             Punjab    19,82,703   1,83,348    21,66,051       27743338
24          Rajasthan    90,95,197  12,65,134  1,03,60,331       68548437
25             Sikkim     1,30,118      18437     1,48,555         610577
26         Tamil Nadu    38,08,634   5,15,120    43,23,754       72147030
27          Telangana    22,83,977   3,38,539    26,22,516       35003674
28            Tripura     7,47,072      98224     8,45,296        3673917
29      Uttar Pradesh    87,91,482  14,82,514  1,02,73,996      199812341
30        Uttarakhand    12,54,098   2,12,872    14,66,970       10086292
31        West Bengal          NaN        NaN          NaN       91276115

In [121]:
df1

,State/UT,1st Dose,2nd Dose,Total Doses
0,NaN,54819,6079,60898
1,A & N Islands,"40,04,003","5,93,574","45,97,577"
2,Andhra Pradesh,"1,27,072",34211,"1,61,283"
3,Arunachal Pradesh,"12,77,867","2,77,594","15,55,461"
4,Assam,"47,17,948","6,38,186","53,56,134"
5,Bihar,"1,11,665",22898,"1,34,563"
6,Chandigarh,"42,24,216","4,56,370","46,80,586"
7,Chhattisgarh,69063,10376,79439
8,Dadra & Nagar Haveli and Daman and Diu,33886,4166,38052
9,Delhi,"20,32,057","4,22,908","24,54,965"
10,Goa,"1,73,929",39213,"2,13,142"
11,Gujarat,"87,30,225","12,98,617","1,00,28,842"
12,Haryana,"25,97,444","2,77,821","28,75,265"
13,Himachal Pradesh,"10,70,591","1,21,952","11,92,543"
14,Jammu & Kashmir,"12,85,932","2,14,761","15,00,693"
15,Jharkhand,"23,18,659","3,22,587","26,41,246"
16,Karnataka,"60,61,565","6,43,466","67,05,031"
17,Kerala,"48,99,857","5,97,159","54,97,016"
18,Ladakh,66918,9554,76472
19,Lakshadweep,13243,2901,16144
20,Madhya Pradesh,"63,50,073","7,08,665","70,58,738"
21,Maharashtra,"1,03,57,897","11,54,831","1,15,12,728"
22,Manipur,97793,47697,"1,45,490"
23,Meghalaya,"1,20,725",42546,"1,63,271"
24,Mizoram,"1,05,266",30317,"1,35,583"
25,Nagaland,"1,02,972",30077,"1,33,049"
26,Odisha,"41,21,043","5,64,788","46,85,831"
27,Puducherry,"1,36,469",11920,"1,48,389"
28,Punjab,"19,82,703","1,83,348","21,66,051"
29,Rajasthan,"90,95,197","12,65,134","1,03,60,331"
30,Sikkim,"1,30,118",18437,"1,48,555"
31,Tamil Nadu,"38,08,634","5,15,120","43,23,754"
32,Telangana,"22,83,977","3,38,539","26,22,516"
33,Tripura,"7,47,072",98224,"8,45,296"
34,Uttar Pradesh,"87,91,482","14,82,514","1,02,73,996"
35,Uttarakhand,"12,54,098","2,12,872","14,66,970"
36,West Bengal,NaN,NaN,NaN

In [122]:
popData

                                    State/UT     Population
33                             A & N Islands         380581
9                             Andhra Pradesh  49,577,103[b]
27                         Arunachal Pradesh        1383727
14                                     Assam       31205576
2                                      Bihar      104099452
30                                Chandigarh        1055450
16                              Chhattisgarh       25545198
32  Dadra and Nagar Haveli and Daman and Diu         585764
26                                       Goa        1458545
8                                    Gujarat       60439692
17                                   Haryana       25351462
21                          Himachal Pradesh        6864602
36                                     India     1210569573
19                         Jammu and Kashmir       12267032
13                                 Jharkhand       32988134
7                                  Karnataka       61095297
12                                    Kerala       33406061
34                                    Ladakh         274000
35                               Lakshadweep          64473
4                             Madhya Pradesh       72626809
1                                Maharashtra      112374333
24                                Manipur[d]        2570390
23                                 Meghalaya        2966889
29                                   Mizoram        1097206
18                              NCT of Delhi       16787941
25                                  Nagaland        1978502
10                                    Odisha       41974219
28                                Puducherry        1247953
15                                    Punjab       27743338
6                                  Rajasthan       68548437
31                                    Sikkim         610577
5                                 Tamil Nadu       72147030
11                                 Telangana       35003674
22                                   Tripura        3673917
0                              Uttar Pradesh      199812341
20                               Uttarakhand       10086292
3                                West Bengal       91276115

In [123]:

popData

                                    State/UT     Population
33                             A & N Islands         380581
9                             Andhra Pradesh  49,577,103[b]
27                         Arunachal Pradesh        1383727
14                                     Assam       31205576
2                                      Bihar      104099452
30                                Chandigarh        1055450
16                              Chhattisgarh       25545198
32  Dadra and Nagar Haveli and Daman and Diu         585764
26                                       Goa        1458545
8                                    Gujarat       60439692
17                                   Haryana       25351462
21                          Himachal Pradesh        6864602
36                                     India     1210569573
19                         Jammu and Kashmir       12267032
13                                 Jharkhand       32988134
7                                  Karnataka       61095297
12                                    Kerala       33406061
34                                    Ladakh         274000
35                               Lakshadweep          64473
4                             Madhya Pradesh       72626809
1                                Maharashtra      112374333
24                                Manipur[d]        2570390
23                                 Meghalaya        2966889
29                                   Mizoram        1097206
18                              NCT of Delhi       16787941
25                                  Nagaland        1978502
10                                    Odisha       41974219
28                                Puducherry        1247953
15                                    Punjab       27743338
6                                  Rajasthan       68548437
31                                    Sikkim         610577
5                                 Tamil Nadu       72147030
11                                 Telangana       35003674
22                                   Tripura        3673917
0                              Uttar Pradesh      199812341
20                               Uttarakhand       10086292
3                                West Bengal       91276115

In [124]:
popData = popData.replace('NCT of Delhi', 'Delhi')

In [125]:
popData = popData.replace('Manipur[d]', 'Manipur')

In [74]:
finalData = df1.merge(popData, how='inner', on='State/UT')

In [75]:
finalData

             State/UT     1st Dose   2nd Dose  Total Doses     Population
0       A & N Islands    40,04,003   5,93,574    45,97,577         380581
1      Andhra Pradesh     1,27,072      34211     1,61,283  49,577,103[b]
2   Arunachal Pradesh    12,77,867   2,77,594    15,55,461        1383727
3               Assam    47,17,948   6,38,186    53,56,134       31205576
4               Bihar     1,11,665      22898     1,34,563      104099452
5          Chandigarh    42,24,216   4,56,370    46,80,586        1055450
6        Chhattisgarh        69063      10376        79439       25545198
7               Delhi    20,32,057   4,22,908    24,54,965       16787941
8                 Goa     1,73,929      39213     2,13,142        1458545
9             Gujarat    87,30,225  12,98,617  1,00,28,842       60439692
10            Haryana    25,97,444   2,77,821    28,75,265       25351462
11   Himachal Pradesh    10,70,591   1,21,952    11,92,543        6864602
12          Jharkhand    23,18,659   3,22,587    26,41,246       32988134
13          Karnataka    60,61,565   6,43,466    67,05,031       61095297
14             Kerala    48,99,857   5,97,159    54,97,016       33406061
15             Ladakh        66918       9554        76472         274000
16        Lakshadweep        13243       2901        16144          64473
17     Madhya Pradesh    63,50,073   7,08,665    70,58,738       72626809
18        Maharashtra  1,03,57,897  11,54,831  1,15,12,728      112374333
19            Manipur        97793      47697     1,45,490        2570390
20          Meghalaya     1,20,725      42546     1,63,271        2966889
21            Mizoram     1,05,266      30317     1,35,583        1097206
22           Nagaland     1,02,972      30077     1,33,049        1978502
23             Odisha    41,21,043   5,64,788    46,85,831       41974219
24         Puducherry     1,36,469      11920     1,48,389        1247953
25             Punjab    19,82,703   1,83,348    21,66,051       27743338
26          Rajasthan    90,95,197  12,65,134  1,03,60,331       68548437
27             Sikkim     1,30,118      18437     1,48,555         610577
28         Tamil Nadu    38,08,634   5,15,120    43,23,754       72147030
29          Telangana    22,83,977   3,38,539    26,22,516       35003674
30            Tripura     7,47,072      98224     8,45,296        3673917
31      Uttar Pradesh    87,91,482  14,82,514  1,02,73,996      199812341
32        Uttarakhand    12,54,098   2,12,872    14,66,970       10086292
33        West Bengal          NaN        NaN          NaN       91276115

In [137]:
popData = popData.replace('Jammu and Kashmir', 'Jammu & Kashmir')
popData = popData.replace('Dadra and Nagar Haveli and Daman and Diu', 'Dadra & Nagar Haveli and Daman and Diu')

In [138]:
finalData = df1.merge(popData, how='inner', on='State/UT')

In [139]:
finalData

,State/UT,1st Dose,2nd Dose,Total Doses,Population
0,A & N Islands,"40,04,003","5,93,574","45,97,577",380581
1,Andhra Pradesh,"1,27,072",34211,"1,61,283","49,577,103[b]"
2,Arunachal Pradesh,"12,77,867","2,77,594","15,55,461",1383727
3,Assam,"47,17,948","6,38,186","53,56,134",31205576
4,Bihar,"1,11,665",22898,"1,34,563",104099452
5,Chandigarh,"42,24,216","4,56,370","46,80,586",1055450
6,Chhattisgarh,69063,10376,79439,25545198
7,Dadra & Nagar Haveli and Daman and Diu,33886,4166,38052,585764
8,Delhi,"20,32,057","4,22,908","24,54,965",16787941
9,Goa,"1,73,929",39213,"2,13,142",1458545
10,Gujarat,"87,30,225","12,98,617","1,00,28,842",60439692
11,Haryana,"25,97,444","2,77,821","28,75,265",25351462
12,Himachal Pradesh,"10,70,591","1,21,952","11,92,543",6864602
13,Jammu & Kashmir,"12,85,932","2,14,761","15,00,693",12267032
14,Jharkhand,"23,18,659","3,22,587","26,41,246",32988134
15,Karnataka,"60,61,565","6,43,466","67,05,031",61095297
16,Kerala,"48,99,857","5,97,159","54,97,016",33406061
17,Ladakh,66918,9554,76472,274000
18,Lakshadweep,13243,2901,16144,64473
19,Madhya Pradesh,"63,50,073","7,08,665","70,58,738",72626809
20,Maharashtra,"1,03,57,897","11,54,831","1,15,12,728",112374333
21,Manipur,97793,47697,"1,45,490",2570390
22,Meghalaya,"1,20,725",42546,"1,63,271",2966889
23,Mizoram,"1,05,266",30317,"1,35,583",1097206
24,Nagaland,"1,02,972",30077,"1,33,049",1978502
25,Odisha,"41,21,043","5,64,788","46,85,831",41974219
26,Puducherry,"1,36,469",11920,"1,48,389",1247953
27,Punjab,"19,82,703","1,83,348","21,66,051",27743338
28,Rajasthan,"90,95,197","12,65,134","1,03,60,331",68548437
29,Sikkim,"1,30,118",18437,"1,48,555",610577
30,Tamil Nadu,"38,08,634","5,15,120","43,23,754",72147030
31,Telangana,"22,83,977","3,38,539","26,22,516",35003674
32,Tripura,"7,47,072",98224,"8,45,296",3673917
33,Uttar Pradesh,"87,91,482","14,82,514","1,02,73,996",199812341
34,Uttarakhand,"12,54,098","2,12,872","14,66,970",10086292
35,West Bengal,NaN,NaN,NaN,91276115

In [83]:
finalData.fillna(0)

,State/UT,1st Dose,2nd Dose,Total Doses,Population
0,A & N Islands,"40,04,003","5,93,574","45,97,577",380581
1,Andhra Pradesh,"1,27,072",34211,"1,61,283","49,577,103[b]"
2,Arunachal Pradesh,"12,77,867","2,77,594","15,55,461",1383727
3,Assam,"47,17,948","6,38,186","53,56,134",31205576
4,Bihar,"1,11,665",22898,"1,34,563",104099452
5,Chandigarh,"42,24,216","4,56,370","46,80,586",1055450
6,Chhattisgarh,69063,10376,79439,25545198
7,Dadra & Nagar Haveli and Daman and Diu,33886,4166,38052,585764
8,Delhi,"20,32,057","4,22,908","24,54,965",16787941
9,Goa,"1,73,929",39213,"2,13,142",1458545
10,Gujarat,"87,30,225","12,98,617","1,00,28,842",60439692
11,Haryana,"25,97,444","2,77,821","28,75,265",25351462
12,Himachal Pradesh,"10,70,591","1,21,952","11,92,543",6864602
13,Jammu & Kashmir,"12,85,932","2,14,761","15,00,693",12267032
14,Jharkhand,"23,18,659","3,22,587","26,41,246",32988134
15,Karnataka,"60,61,565","6,43,466","67,05,031",61095297
16,Kerala,"48,99,857","5,97,159","54,97,016",33406061
17,Ladakh,66918,9554,76472,274000
18,Lakshadweep,13243,2901,16144,64473
19,Madhya Pradesh,"63,50,073","7,08,665","70,58,738",72626809
20,Maharashtra,"1,03,57,897","11,54,831","1,15,12,728",112374333
21,Manipur,97793,47697,"1,45,490",2570390
22,Meghalaya,"1,20,725",42546,"1,63,271",2966889
23,Mizoram,"1,05,266",30317,"1,35,583",1097206
24,Nagaland,"1,02,972",30077,"1,33,049",1978502
25,Odisha,"41,21,043","5,64,788","46,85,831",41974219
26,Puducherry,"1,36,469",11920,"1,48,389",1247953
27,Punjab,"19,82,703","1,83,348","21,66,051",27743338
28,Rajasthan,"90,95,197","12,65,134","1,03,60,331",68548437
29,Sikkim,"1,30,118",18437,"1,48,555",610577
30,Tamil Nadu,"38,08,634","5,15,120","43,23,754",72147030
31,Telangana,"22,83,977","3,38,539","26,22,516",35003674
32,Tripura,"7,47,072",98224,"8,45,296",3673917
33,Uttar Pradesh,"87,91,482","14,82,514","1,02,73,996",199812341
34,Uttarakhand,"12,54,098","2,12,872","14,66,970",10086292
35,West Bengal,0,0,0,91276115

,State/UT,1st Dose,2nd Dose,Total Doses,Population
0,A & N Islands,"40,04,003","5,93,574","45,97,577",380581
1,Andhra Pradesh,"1,27,072",34211,"1,61,283","49,577,103[b]"
2,Arunachal Pradesh,"12,77,867","2,77,594","15,55,461",1383727
3,Assam,"47,17,948","6,38,186","53,56,134",31205576
4,Bihar,"1,11,665",22898,"1,34,563",104099452
5,Chandigarh,"42,24,216","4,56,370","46,80,586",1055450
6,Chhattisgarh,69063,10376,79439,25545198
7,Dadra & Nagar Haveli and Daman and Diu,33886,4166,38052,585764
8,Delhi,"20,32,057","4,22,908","24,54,965",16787941
9,Goa,"1,73,929",39213,"2,13,142",1458545
10,Gujarat,"87,30,225","12,98,617","1,00,28,842",60439692
11,Haryana,"25,97,444","2,77,821","28,75,265",25351462
12,Himachal Pradesh,"10,70,591","1,21,952","11,92,543",6864602
13,Jammu & Kashmir,"12,85,932","2,14,761","15,00,693",12267032
14,Jharkhand,"23,18,659","3,22,587","26,41,246",32988134
15,Karnataka,"60,61,565","6,43,466","67,05,031",61095297
16,Kerala,"48,99,857","5,97,159","54,97,016",33406061
17,Ladakh,66918,9554,76472,274000
18,Lakshadweep,13243,2901,16144,64473
19,Madhya Pradesh,"63,50,073","7,08,665","70,58,738",72626809
20,Maharashtra,"1,03,57,897","11,54,831","1,15,12,728",112374333
21,Manipur,97793,47697,"1,45,490",2570390
22,Meghalaya,"1,20,725",42546,"1,63,271",2966889
23,Mizoram,"1,05,266",30317,"1,35,583",1097206
24,Nagaland,"1,02,972",30077,"1,33,049",1978502
25,Odisha,"41,21,043","5,64,788","46,85,831",41974219
26,Puducherry,"1,36,469",11920,"1,48,389",1247953
27,Punjab,"19,82,703","1,83,348","21,66,051",27743338
28,Rajasthan,"90,95,197","12,65,134","1,03,60,331",68548437
29,Sikkim,"1,30,118",18437,"1,48,555",610577
30,Tamil Nadu,"38,08,634","5,15,120","43,23,754",72147030
31,Telangana,"22,83,977","3,38,539","26,22,516",35003674
32,Tripura,"7,47,072",98224,"8,45,296",3673917
33,Uttar Pradesh,"87,91,482","14,82,514","1,02,73,996",199812341
34,Uttarakhand,"12,54,098","2,12,872","14,66,970",10086292
35,West Bengal,NaN,NaN,NaN,91276115

In [140]:
finalData = finalData.drop([35])

In [130]:
df2 = {'State/UT': 'West Bengal', '1st Dose': 7415397, '2nd Dose': 1053441,  'Total Doses': 8468838,  'Population' : 91276115}

In [141]:
finalData = finalData.append(df2, ignore_index = True)

In [142]:
finalData

,State/UT,1st Dose,2nd Dose,Total Doses,Population
0,A & N Islands,"40,04,003","5,93,574","45,97,577",380581
1,Andhra Pradesh,"1,27,072",34211,"1,61,283","49,577,103[b]"
2,Arunachal Pradesh,"12,77,867","2,77,594","15,55,461",1383727
3,Assam,"47,17,948","6,38,186","53,56,134",31205576
4,Bihar,"1,11,665",22898,"1,34,563",104099452
5,Chandigarh,"42,24,216","4,56,370","46,80,586",1055450
6,Chhattisgarh,69063,10376,79439,25545198
7,Dadra & Nagar Haveli and Daman and Diu,33886,4166,38052,585764
8,Delhi,"20,32,057","4,22,908","24,54,965",16787941
9,Goa,"1,73,929",39213,"2,13,142",1458545
10,Gujarat,"87,30,225","12,98,617","1,00,28,842",60439692
11,Haryana,"25,97,444","2,77,821","28,75,265",25351462
12,Himachal Pradesh,"10,70,591","1,21,952","11,92,543",6864602
13,Jammu & Kashmir,"12,85,932","2,14,761","15,00,693",12267032
14,Jharkhand,"23,18,659","3,22,587","26,41,246",32988134
15,Karnataka,"60,61,565","6,43,466","67,05,031",61095297
16,Kerala,"48,99,857","5,97,159","54,97,016",33406061
17,Ladakh,66918,9554,76472,274000
18,Lakshadweep,13243,2901,16144,64473
19,Madhya Pradesh,"63,50,073","7,08,665","70,58,738",72626809
20,Maharashtra,"1,03,57,897","11,54,831","1,15,12,728",112374333
21,Manipur,97793,47697,"1,45,490",2570390
22,Meghalaya,"1,20,725",42546,"1,63,271",2966889
23,Mizoram,"1,05,266",30317,"1,35,583",1097206
24,Nagaland,"1,02,972",30077,"1,33,049",1978502
25,Odisha,"41,21,043","5,64,788","46,85,831",41974219
26,Puducherry,"1,36,469",11920,"1,48,389",1247953
27,Punjab,"19,82,703","1,83,348","21,66,051",27743338
28,Rajasthan,"90,95,197","12,65,134","1,03,60,331",68548437
29,Sikkim,"1,30,118",18437,"1,48,555",610577
30,Tamil Nadu,"38,08,634","5,15,120","43,23,754",72147030
31,Telangana,"22,83,977","3,38,539","26,22,516",35003674
32,Tripura,"7,47,072",98224,"8,45,296",3673917
33,Uttar Pradesh,"87,91,482","14,82,514","1,02,73,996",199812341
34,Uttarakhand,"12,54,098","2,12,872","14,66,970",10086292
35,West Bengal,7415397,1053441,8468838,91276115

In [144]:
finalData = finalData.replace(',','', regex=True)

,State/UT,1st Dose,2nd Dose,Total Doses,Population
0,A & N Islands,4004003,593574,4597577,380581
1,Andhra Pradesh,127072,NaN,161283,49577103[b]
2,Arunachal Pradesh,1277867,277594,1555461,1383727
3,Assam,4717948,638186,5356134,31205576
4,Bihar,111665,NaN,134563,104099452
5,Chandigarh,4224216,456370,4680586,1055450
6,Chhattisgarh,NaN,NaN,NaN,25545198
7,Dadra & Nagar Haveli and Daman and Diu,NaN,NaN,NaN,585764
8,Delhi,2032057,422908,2454965,16787941
9,Goa,173929,NaN,213142,1458545
10,Gujarat,8730225,1298617,10028842,60439692
11,Haryana,2597444,277821,2875265,25351462
12,Himachal Pradesh,1070591,121952,1192543,6864602
13,Jammu & Kashmir,1285932,214761,1500693,12267032
14,Jharkhand,2318659,322587,2641246,32988134
15,Karnataka,6061565,643466,6705031,61095297
16,Kerala,4899857,597159,5497016,33406061
17,Ladakh,NaN,NaN,NaN,274000
18,Lakshadweep,NaN,NaN,NaN,64473
19,Madhya Pradesh,6350073,708665,7058738,72626809
20,Maharashtra,10357897,1154831,11512728,112374333
21,Manipur,NaN,NaN,145490,2570390
22,Meghalaya,120725,NaN,163271,2966889
23,Mizoram,105266,NaN,135583,1097206
24,Nagaland,102972,NaN,133049,1978502
25,Odisha,4121043,564788,4685831,41974219
26,Puducherry,136469,NaN,148389,1247953
27,Punjab,1982703,183348,2166051,27743338
28,Rajasthan,9095197,1265134,10360331,68548437
29,Sikkim,130118,NaN,148555,610577
30,Tamil Nadu,3808634,515120,4323754,72147030
31,Telangana,2283977,338539,2622516,35003674
32,Tripura,747072,NaN,845296,3673917
33,Uttar Pradesh,8791482,1482514,10273996,199812341
34,Uttarakhand,1254098,212872,1466970,10086292
35,West Bengal,NaN,NaN,NaN,NaN

In [145]:
finalData

,State/UT,1st Dose,2nd Dose,Total Doses,Population
0,A & N Islands,4004003,593574,4597577,380581
1,Andhra Pradesh,127072,34211,161283,49577103[b]
2,Arunachal Pradesh,1277867,277594,1555461,1383727
3,Assam,4717948,638186,5356134,31205576
4,Bihar,111665,22898,134563,104099452
5,Chandigarh,4224216,456370,4680586,1055450
6,Chhattisgarh,69063,10376,79439,25545198
7,Dadra & Nagar Haveli and Daman and Diu,33886,4166,38052,585764
8,Delhi,2032057,422908,2454965,16787941
9,Goa,173929,39213,213142,1458545
10,Gujarat,8730225,1298617,10028842,60439692
11,Haryana,2597444,277821,2875265,25351462
12,Himachal Pradesh,1070591,121952,1192543,6864602
13,Jammu & Kashmir,1285932,214761,1500693,12267032
14,Jharkhand,2318659,322587,2641246,32988134
15,Karnataka,6061565,643466,6705031,61095297
16,Kerala,4899857,597159,5497016,33406061
17,Ladakh,66918,9554,76472,274000
18,Lakshadweep,13243,2901,16144,64473
19,Madhya Pradesh,6350073,708665,7058738,72626809
20,Maharashtra,10357897,1154831,11512728,112374333
21,Manipur,97793,47697,145490,2570390
22,Meghalaya,120725,42546,163271,2966889
23,Mizoram,105266,30317,135583,1097206
24,Nagaland,102972,30077,133049,1978502
25,Odisha,4121043,564788,4685831,41974219
26,Puducherry,136469,11920,148389,1247953
27,Punjab,1982703,183348,2166051,27743338
28,Rajasthan,9095197,1265134,10360331,68548437
29,Sikkim,130118,18437,148555,610577
30,Tamil Nadu,3808634,515120,4323754,72147030
31,Telangana,2283977,338539,2622516,35003674
32,Tripura,747072,98224,845296,3673917
33,Uttar Pradesh,8791482,1482514,10273996,199812341
34,Uttarakhand,1254098,212872,1466970,10086292
35,West Bengal,7415397,1053441,8468838,91276115